<div class="row">
	<div class="span5">
		
		<%= form_for(@loan, :as => 'Loan', :url => loans_create_path, :method => :post, :html => { :class => 'form-horizontal well' }) do |f| %>

		  <fieldset>	
		  		<legend>New Loan To...</legend>
		  		<div class="control-group">
		  			<%= f.label :creditor_user_id, :class => 'control-label' %>
					<div class="controls">
						<%= f.select :creditor_user_id, options_from_collection_for_select(@users, :id, :initials) %>
			  		</div>
			  	</div>
			  	<div class="control-group">
			  		<%= f.label :amount, :class => 'control-label' %>
					<div class="controls">
						<%= f.number_field :amount %>
			  		</div>
				</div>
				<div class="form-actions"><%= f.submit "Borrow it!", :class => 'btn' %></div>
			</fieldset>
		<% end %>
	</div>
</div>
